

.search-results-header{
    width:100%;
    background:#555;
    text-transform: uppercase;
}

.search-results-header-inner{
    width: 100%;
    max-width: 1200px;
    padding:15px;
    margin: 0 auto;
    display:flex;
    align-items: center;
}

.search-results-header-inner div{
    flex: 1;
}

.search-results-header-inner div:last-child{
    text-align:right;
}

.search-results-container{
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 25px auto;
    display:flex;
    flex:1;
    flex-wrap: wrap;
}

.search-results-container > div{
    margin: 20px;
}

.notfound-title{
    width:100%;
    margin: 50px auto;
    text-align: center;
}

.search-results-sort .split-buttons{
    margin-left: 15px;
}

.search-results-sort .split-buttons button{
    background: #484848;
}

.search-form{
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 75px auto;
}

.search-form label{
    display:flex;
    flex-wrap: wrap;
}
.search-form label span{
    font-size:30px;
    line-height: 45px;
    text-transform: uppercase;
    display:block;
    width: 100%;
    margin-bottom: 10px;
}

.search-form input{
    flex:3;
    padding:10px;
    margin-right:10px;
    background:rgba(85,85,85,0.5);
    color:#fff;
    border:none;
    font-size: 16px;
    line-height: 24px;
} 

.search-form #search-button{
    flex: 1;
    background: #f65261;
    color:#fff;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px;
    cursor:pointer;
}

.search-filter{
    padding: 20px 10px;
    text-transform: uppercase;
}

.search-filter .split-buttons{
    margin-left:10px;
}

button{
    display: inline-block;
    background:rgba(85,85,85,0.5);
    color:#fff;
    border-radius: 6px;
    border:none;
    padding:5px 15px;
    margin-right:0px;
    text-transform: uppercase;
    cursor:pointer;
}

button:hover, button.active{
    background: #f65261 !important;
}

.split-buttons button{
    border-radius:0;
} 

.split-buttons button:first-child{
    border-radius: 6px 0 0 6px;
    border-right: 1px solid #232323;
}

.split-buttons button:last-child{
    border-radius: 0 6px 6px 0;
}
