*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
}



header{
    width: 100%;
    max-width: 1200px;
    padding:0 15px;
    margin:0 auto;
}

header h1{
    padding: 20px;
}

.search-form{
    width: 100%;
    max-width: 1200px;
    padding:0 15px;
    margin:50px auto;
}

.search-form label{
    display:flex;
    flex-wrap: wrap;
}
.search-form label span{
    font-size:30px;
    line-height: 45px;
    text-transform: uppercase;
    display:block;
    width: 100%;
    margin-bottom: 10px;
}

.search-form input{
    flex:3;
    padding:10px;
    margin-right:10px;
} 

.search-form button{
    flex:1;
}

.search-filter{
    padding: 10px;
}

.search-filter .buttons{
    margin-left:10px;
}

.search-filter .buttons button{
    padding: 5px;
}

.search-results-header{
    width:100%;
    background:#ccc;
}

.search-results-header-inner{
    width: 100%;
    max-width: 1200px;
    padding:15px;
    margin: 0 auto;
    display:flex;
    align-items: center;
}

.search-results-header-inner div{
    flex: 1;
}

.search-results-header-inner div:last-child{
    text-align:right;
}

.sort-filter .buttons{
    margin-left:10px;
}

.sort-filter .buttons button{
    padding: 5px;
}

.search-results-container{
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 25px auto;
    display:flex;
    flex:1;
    flex-wrap: wrap;
}

.search-results-container .card{
    margin: 15px;
}

footer{
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}


