.movie-summary{
    width: 1200px;
    margin: 30px auto;
    display: flex;
}

.movie-summary > div{
    flex:1;
}

.movie-summary .details{
    flex: 3;
}

.movie-summary .title{
    font-weight: 600;
}

.movie-summary .meta{
    margin: 10px 0;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color:#bbb;
}

.movie-summary .meta span{
    margin-right: 15px;
}

.movie-summary .meta span > span{
    color:#f65261;
    font-size: 18px;
    line-height: 27px;
    margin-right: 5px;
}

.movie-summary .rating{
    font-weight: 400;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 10px 0;
    font-size: 27px;
    text-align: center;
    color:#80b859;
    margin-left: 15px;
}
